.ws-page{
  width:100%;
  overflow-x:hidden;
}

/* HERO SECTION */

.ws-hero{
  position:relative;
  height:100vh;
  width:100%;
  background:url('../../../public/images/hero-section.jpg') center/cover no-repeat;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero-overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(to bottom right, rgba(0,0,0,.5), rgba(0,0,0,.2));
}

.hero-content{
  position:relative;
  text-align:center;
  color:white;
  max-width:750px;
  padding:20px;
}

.hero-content h1{
  font-size:3.8rem;
  font-weight:700;
  letter-spacing:-1px;
}

.hero-content p{
  margin-top:15px;
  font-size:1.3rem;
  line-height:1.8;
  opacity:.9;
}

.hero-btn{
  margin-top:40px;
  padding:18px 60px;
  background:white;
  color:black;
  border-radius:60px;
  border:0;
  font-size:1.3rem;
  font-weight:700;
  cursor:pointer;
  transition:.4s;
}

.hero-btn:hover{
  transform:translateY(-6px);
}


/* WORKSHOPS CARDS */

.workshop-section{
  padding:120px 7%;
  background:#faf7ff;
}

.workshop-section h2{
  font-size:2.4rem;
  margin-bottom:40px;
  text-align:center;
  font-weight:600;
}

.workshop-grid{
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(260px,1fr));
  gap:35px;
}

.ws-card{
  position:relative;
  height:360px;
  border-radius:25px;
  overflow:hidden;
  box-shadow:0 20px 70px rgba(0,0,0,.15);
  cursor:pointer;
  transition:.4s;
}

.ws-card img{
  width:100%;
  height:100%;
  object-fit:cover;
  transition:.6s;
}

.ws-card-overlay{
  position:absolute;
  inset:0;
  background:linear-gradient(to top, rgba(0,0,0,.75) 30%, rgba(0,0,0,0));
}

.ws-card h4{
  position:absolute;
  bottom:20px;
  left:20px;
  right:20px;
  color:white;
  font-size:1.4rem;
  font-weight:600;
}

.ws-card:hover img{
  transform:scale(1.14);
}


/* INCLUDES */

.ws-include{
  background:white;
  padding:120px 7%;
  text-align:center;
}

.ws-include h2{
  font-size:2.4rem;
  font-weight:600;
}

.ws-include ul{
  margin-top:35px;
  line-height:2.2rem;
  font-size:1.2rem;
}

.btn-row{
  margin-top:50px;
}

.btn-row button{
  padding:18px 48px;
  border-radius:60px;
  font-size:1.2rem;
  font-weight:600;
  margin:0 10px;
  cursor:pointer;
  transition:.3s;
}

.primary{
  background:black;
  color:white;
}

.secondary{
  border:2px solid black;
  background:transparent;
}

.btn-row button:hover{
  transform:translateY(-5px);
}

.ws-seo{
  opacity:0;
}

/* responsive */
@media(max-width:600px){
  .hero-content h1{ font-size:2.5rem; }
}
