.home-wrapper {
  width: 100%;
  overflow-x: hidden;
}

/* HERO */
.hero {
  width: 100%;
  height: auto;
  padding: 90px 8%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-left {
  width: 50%;
}

.hero-right img {
  width: 100%;
  border-radius: 15px;
}

.hero-buttons {
  margin-top: 25px;
  display: flex;
  gap: 15px;
}


/* BUTTONS */
.btn-primary {
  padding: 12px 28px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 600;
}

.btn-secondary {
  padding: 12px 28px;
  background: transparent;
  border: 2px solid #000;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}


/* Featured Intro */
.featured-intro {
  padding: 60px 10%;
  font-size: 18px;
  text-align: center;
}


/* Resources */
.resources-section {
  padding: 70px 10%;
}

.resource-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 18px;
}

.resource-card {
  background: #eae8e3;
  padding: 35px;
  border-radius: 8px;
}


/* About */
.about-section {
  padding: 90px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about-left img {
  width: 360px;
  border-radius: 14px;
}


/* Testimonials */
.testimonials {
  padding: 100px 10%;
}

.testimonials-grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 25px;
}

.test-card {
  background: #f0efe9;
  padding: 35px;
  border-radius: 10px;
}


/* Last CTA */
.cta-last {
  padding: 90px 10%;
  text-align: center;
}
