.psy-footer {
  background: #f7f8ff;
  padding: 45px 0 30px;
  /* margin-top: 80px; */
}

.footer-title {
  font-weight: 700;
  color: #2e3a59;
}

.footer-sub {
  font-size: 15px;
  margin-top: 5px;
  color: #647088;
}

.footer-sep {
  width: 100px;
  height: 3px;
  background: #4b70f5;
  border-radius: 50px;
  margin: 18px auto;
  opacity: .8;
}

.footer-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.footer-menu a {
  text-decoration: none;
  color: #2e3a59;
  font-weight: 500;
  transition: .3s ease;
}

.footer-menu a:hover {
  color: #4b70f5;
}

@media(max-width:768px){
  .footer-menu {
    flex-direction: column;
    gap: 12px;
  }
}
